.navigation-bar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    z-index: 10;
    h1{
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
        .span1{
            color: rgb(161, 30, 30);
        }
        .span2{
            color: white;
            font-size: 48px;
            font-style: italic;
        }
        .span3{
            color: var(--main-color);
        }
    }
    &.scroll{
        background-color: var(--dark-bg-color);
        ul li{
            color: white;
        }
    }
    &.dark{
        background-color: var(--dark-bg-color);
        position: sticky;
        .nav-menu li{
            color: white;
            ul li{
                color: black;
            }
        }
    }
    .nav-menu{
        display: flex;
        list-style-type: none;
        gap: 30px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        li{
            font-size: 16px;
            font-weight: 400;
            &:hover{
                color: var(--main-color);
                filter: brightness(1);
            }
            &.drop-down{
                position: relative;
                &:hover{
                    .drop-items{
                        display: flex;
                    }
                }
                .drop-items{
                    position: absolute;
                    background-color: rgb(245, 245, 245);
                    border-radius: 1px;
                    flex-direction: column;
                    display: none;
                    gap: 0;
                    color: black;
                    width: 190px;
                    list-style: none;
                    li{
                        color: black;
                        padding: 10px 20px;
                        font-size: 14px;
                        &:hover{
                            background-color: rgba(0,0,0,0.1);
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .profile{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        transform: scale(1.2);
        .icon{
            font-size: 32px;
            color: rgb(218, 218, 218);
        }
        &:hover{
            .options{
                display: flex;
            }
        }
        .options{
            position: absolute;
            background-color: rgb(245, 245, 245);
            display: none;
            flex-direction: column;
            gap: 0;
            top: 100%;
            left: -50%;
            border-radius: 2px;
            li{
                padding: 10px;
                width: 100px;
                color: black;
                display: flex;
                align-items: center;
                gap: 5px;
                &:hover{
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}