.maps-buttons-container {
    display: flex;
    gap: 5px;
    margin-top: 20px;
  
    button {
      flex: 1;
      padding: 10px;
      cursor: pointer;
      background-color: #007bff !important;
      border: none !important;
      outline: none !important;
      border-radius: 5px !important;
      color: white !important;
      font-size: 16px !important;
      &:hover {
        background-color: #0056b3 !important;
      }
    }
  }
.add-waste-section{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    h2{
        color: rgba(0,0,0,0.5);
        font-weight: 500;
    }
    form{
        display: flex;
        padding: 20px;
        gap: 60px;
        background-color: white;
        border-radius: 3px;
        .left, .right{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .field{
                display: flex;
                flex-direction: column;
                min-width: 250px;
                label{
                    font-size: 16px;
                    margin-bottom: 5px;
                    span{
                        color: red;
                        font-weight: 700;
                    }
                }
                input[type="text"]{
                    width: 100%;
                    height: 40px;
                    border: 1px solid rgba(0,0,0,0.5);
                    padding: 0 10px;
                    outline: none;
                    border-radius: 2px;
                }
                textarea{
                    width: 100%;
                    height: 100px;
                    border: 1px solid rgba(0,0,0,0.5);
                    padding: 10px;
                    border-radius: 2px;
                    resize: none;
                }
            }
            button{
                width: 100%;
                height: 40px;
                cursor: pointer;
                background-color: var(--main-color);
                border: none;
                outline: none;
                border-radius: 2px;
                color: white;
                font-size: 16px;
                &:hover{
                    filter: brightness(0.7);
                }
            }
        }
        .right{
            .image{
                .label {
                    display: inline-block;
                    cursor: pointer;
                    border: 1px dashed rgba(0, 0, 0, 0.5);
                    color: #fff;
                    transition: background-color 0.3s ease;
                    width: 300px;
                    height: 185px;
                    overflow: hidden;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-size: contain;
                    background-position: center;
                    position: relative;
                    border-radius: 2px;
                    &:hover {
                        .img-upload-section{
                            bottom: 0%;
                        }
                    }
                }
                input[type="file"]{
                    display: none;
                }

            }
        }
    }
}
.MapContainer {
    // top: 50%;
    margin: 0; 
    padding: 0; 
  }
  
.leaflet-container {
    height: 300px;
    width: 500px;
}
  